# LINEAR REGRESSION

###### Linear regression is used for finding linear relationship between target variable ( Y variable) and one or more predictors (X variables). There are two types of linear regression- Simple and Multiple.

### MULTIPLE LINEAR REGRESSION

In [10]:
## CALLING LIBRARIES USED FOR LINEAR REGRESSION

library("tidyverse")
library("ggplot2")

In [11]:
## CHECKING THE CURRENT WORKING DIRECTORY

getwd()

[1] "C:/Users/T0SHIBA/DataScienceInR/lesson-04"

In [12]:
## STORING DATA IN THE CSV FILE TO VARIABLE data
data = read.csv('C:/Users/T0SHIBA/DataScienceInR/data/Mulitple LR_Cars.csv')

In [13]:
## VIEWING THE FIRST 6 ROWS USING HEAD() FUNCTION
head(data)

  Price  Brand         Body      Mileage EngineV Engine.Type Registration Year
1   4200 BMW           sedan     277     2.0     Petrol      yes          1991
2   7900 Mercedes-Benz van       427     2.9     Diesel      yes          1999
3  13300 Mercedes-Benz sedan     358     5.0     Gas         yes          2003
4  23000 Audi          crossover 240     4.2     Petrol      yes          2007
5  18300 Toyota        crossover 120     2.0     Petrol      yes          2011
6 199999 Mercedes-Benz crossover   0     5.5     Petrol      yes          2016

In [18]:
##SUMMARY OF VARIABLES IN THE DATASET; STATISTICAL SUMMARY OF CONTINOUS VARIABLES AND VALUE COUNTS OF CATAGOTICAL VARIABLES
summary(data)

     Price                  Brand            Body         Mileage
 Min.   :   600   Audi         :457   crossover: 901   Min.   :  0.0
 1st Qu.:  6999   BMW          :694   hatch    : 285   1st Qu.: 86.0
 Median : 11500   Mercedes-Benz:921   other    : 433   Median :155.0
 Mean   : 19419   Mitsubishi   :327   sedan    :1649   Mean   :161.2
 3rd Qu.: 21700   Renault      :469   vagon    : 402   3rd Qu.:230.0
 Max.   :300000   Toyota       :541   van      : 675   Max.   :980.0
 NA's   :172      Volkswagen   :936
    EngineV       Engine.Type   Registration      Year
 Min.   : 0.600   Diesel:2019   no : 398     Min.   :1969
 1st Qu.: 1.800   Gas   : 613   yes:3947     1st Qu.:2003
 Median : 2.200   Other : 154                Median :2008
 Mean   : 2.791   Petrol:1559                Mean   :2007
 3rd Qu.: 3.000                              3rd Qu.:2012
 Max.   :99.990                              Max.   :2016
 NA's   :150