# Exploratory Data Analysis - EDA

In [2]:
## CALLING LIBRARIES USED FOR EDA

library("tidyverse")
library("ggplot2")

In [3]:
## STORING DATA IN THE CSV FILE TO VARIABLE "data"
data = read.csv('C:/Users/T0SHIBA/DataScienceInR/data/Mulitple LR_Cars.csv')

In [4]:
## VIEWING THE FIRST 6 ROWS USING HEAD() FUNCTION
head(data)

  Price  Brand         Body      Mileage EngineV Engine.Type Registration Year
1   4200 BMW           sedan     277     2.0     Petrol      yes          1991
2   7900 Mercedes-Benz van       427     2.9     Diesel      yes          1999
3  13300 Mercedes-Benz sedan     358     5.0     Gas         yes          2003
4  23000 Audi          crossover 240     4.2     Petrol      yes          2007
5  18300 Toyota        crossover 120     2.0     Petrol      yes          2011
6 199999 Mercedes-Benz crossover   0     5.5     Petrol      yes          2016

## 1. VARIABLE IDENTIFICATION

##### CONTINUOUS OR CATAGORICAL

###### Continuous Variables : Price , Mileage , EngineV , Year

###### Catagorical Variables : Brand , Body , Engine.Type , Registration

## 2. TREATMENT OF MISSING VALUES

In [5]:
## TAKING COUNT OF MISSING VALUES IN THE DATASET
colSums(is.na(data))

       Price        Brand         Body      Mileage      EngineV  Engine.Type
         172            0            0            0          150            0
Registration         Year
           0            0

### Here, missing values are in columns : Price & EngineV

In [6]:
## CHECKING NUMBER OF COLUMNS AND ROWS
dim(data)

[1] 4345    8

##### Here the number of null value rows are very less considered to the total data, hence the null values are deleted

In [ ]:
## DELETING NULL VALUE ROWS
data = na.omit(data)

In [ ]:
colSums(is.na(data))

In [ ]:
## NUMBER OF ROWS AND COLUMNS AFTER DELETING NULL VALUES
dim(data)

## 3. TREATMENT OF OUTLIERS

##### OUTLIERS NEED TO BE CHECKED AND TREATED FOR CONTINOUS VARIABLES

### I. PRICE

In [ ]:
## CHECKING FOR OUTLIERS WITH BOXPLOT
ggplot(data=data,aes(y=Price))+ geom_boxplot()

In [ ]:
## FINDING INTER QUARTILE RANGE TO CALCULATE MAXIMUM VALUE OF DISTRIBUTION USING "IQR" FUNCTION
iqr_price = IQR(data$Price)

In [ ]:
iqr_price

In [ ]:
## QUANTILE FUNTION WILL GIVE US THE IMPORTANT QUARTILES
quantile(data$Price)

In [ ]:
## WITH "PROBS" ATTIBUTE WE CAN SPECIFY THE PARTICULAR QUANTILE NEEDED (IT SHOULD BE BETWEEN 0 AND 1)
quantile(data$Price,probs=0.75)

In [ ]:
## MAX VALUE OF PRICE IS CALCULATED USING FORMULA "Q3 + (1.5*IQR)"
max_price = quantile(data$Price,probs=0.75)+ (1.5*iqr_price)

In [ ]:
max_price

In [ ]:
## FILTERING DATA WHERE PRICE ABOVE THE MAXIMUM PRICE
filter(data,Price>max_price)

In [ ]:
## ASSGINING VALUES TO FIND QUANTILES
quantile_range = seq(0.75,0.99,by=0.01)

In [ ]:
quantile_range

In [ ]:
## USING QUANTILE FUNCTION CALLING QUANTILES FROM 75TH TO 99TH 
quantile(data$Price,probs=quantile_range)

##### Here we already know the max price value 44251.5. So the outliers will be filled with quantile of value less than max value. 
Quantile 90 = 40996 is used to fill outliers

In [ ]:
## USING FOR LOOPS CHANGING VALUES
for (i in 1:4025)
{
    if (data$Price[i]>max_price){
        data$Price[i]=quantile(data$Price,probs=0.90)}
}

In [ ]:
filter(data,Price>max_price)

In [ ]:
## BOXPLOT FOR PRICE TO CHECK FOR OUTLIERS
ggplot(data=data,aes(y=Price))+ geom_boxplot()

### II. MILEAGE

In [ ]:
## CHECKING FOR OUTLIERS WITH BOXPLOT
ggplot(data=data,aes(y=Mileage))+ geom_boxplot()

In [ ]:
## FINDING INTER QUARTILE RANGE TO CALCULATE MAXIMUM VALUE OF DISTRIBUTION USING "IQR" FUNCTION
iqr_mileage= IQR(data$Mileage)

In [ ]:
iqr_mileage

In [ ]:
## WITH "PROBS" ATTIBUTE WE CAN SPECIFY THE PARTICULAR QUANTILE NEEDED (IT SHOULD BE BETWEEN 0 AND 1)
quantile(data$Mileage,probs=0.75)

In [ ]:
## MAX VALUE OF PRICE IS CALCULATED USING FORMULA "Q3 + (1.5*IQR)"
max_mileage = quantile(data$Mileage,probs=0.75)+ (1.5*iqr_mileage)

In [ ]:
max_mileage

In [ ]:
## FILTERING DATA WHERE MILEAGE ABOVE THE MAXIMUM MILEAGE
filter(data,Mileage>max_mileage)

In [ ]:
## USING QUANTILE FUNCTION CALLING QUANTILES FROM 75TH TO 99TH 
quantile(data$Mileage,probs=quantile_range)

In [ ]:
## USING FOR LOOPS CHANGING VALUES
for (i in 1:4025)
{
    if (data$Mileage[i]>max_mileage)
    {
        data$Mileage[i]=quantile(data$Mileage,probs=0.98)
    }
}

In [ ]:
filter(data,Mileage>max_price)

In [ ]:
## CHECKING FOR OUTLIERS WITH BOXPLOT
ggplot(data=data,aes(y=Mileage))+ geom_boxplot()

### III. EngineV

In [ ]:
## CHECKING FOR OUTLIERS WITH BOXPLOT
ggplot(data=data,aes(y=EngineV))+ geom_boxplot()

In [ ]:
## FINDING INTER QUARTILE RANGE TO CALCULATE MAXIMUM VALUE OF DISTRIBUTION USING "IQR" FUNCTION
iqr_enginev= IQR(data$EngineV)

In [ ]:
## MAX VALUE OF PRICE IS CALCULATED USING FORMULA "Q3 + (1.5*IQR)"
max_enginev = quantile(data$EngineV,probs=0.75)+ (1.5*iqr_enginev)

In [ ]:
max_enginev

In [ ]:
## FILTERING DATA WHERE MILEAGE ABOVE THE MAXIMUM MILEAGE
filter(data,EngineV>max_enginev)

In [ ]:
## USING QUANTILE FUNCTION CALLING QUANTILES FROM 75TH TO 99TH 
quantile(data$EngineV,probs=quantile_range)

In [ ]:
## USING FOR LOOPS CHANGING VALUES
for (i in 1:4025)
{
    if (data$EngineV[i]>max_enginev)
    {
        data$EngineV[i]=quantile(data$EngineV,probs=0.95)
    }
}

In [ ]:
## CHECKING FOR OUTLIERS WITH BOXPLOT
ggplot(data=data,aes(y=EngineV))+ geom_boxplot()

### IV.YEAR

In [ ]:
## CHECKING FOR OUTLIERS WITH BOXPLOT
ggplot(data=data,aes(y=Year))+ geom_boxplot()

In [ ]:
## FINDING INTER QUARTILE RANGE TO CALCULATE MAXIMUM VALUE OF DISTRIBUTION USING "IQR" FUNCTION
iqr_year= IQR(data$Year)

In [ ]:
## MAX VALUE OF PRICE IS CALCULATED USING FORMULA "Q3 + (1.5*IQR)"
min_year = quantile(data$Year,probs=0.25)- (1.5*iqr_year)

In [ ]:
min_year

In [ ]:
min_year = min_year+0.5

In [ ]:
min_year

In [ ]:
## FILTERING DATA WHERE MILEAGE ABOVE THE MAXIMUM MILEAGE
filter(data,Year<min_year)

In [ ]:
min_quantile_range = seq(0.01,0.25,by=0.01)

In [ ]:
min_quantile_range

In [ ]:
## USING QUANTILE FUNCTION CALLING QUANTILES FROM 75TH TO 99TH 
quantile(data$Year,probs=min_quantile_range)

In [ ]:
## USING FOR LOOPS CHANGING VALUES
for (i in 1:4025)
{
    if (data$Year[i]<min_year)
    {
        data$Year[i]=quantile(data$Year,probs=0.03)
    }
}

In [ ]:
## CHECKING FOR OUTLIERS WITH BOXPLOT
ggplot(data=data,aes(y=Year))+ geom_boxplot()